In [18]:
### Create MySQL Connection And Connect
import mysql.connector as sql

connection = sql.connect(
  host="localhost",
  user="root",
  password="12345",
  database="student"
)

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000020A9A376F70>

In [38]:
cursor = connection.cursor()

cursor.execute("CREATE TABLE studentinfo (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), subject VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'studentinfo' already exists

In [20]:
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
value = ("John", "Stats")
cursor.execute(query,value)
print("Row inserted",cursor.lastrowid)

Row inserted 8

In [21]:
### Insert multiple records in Table
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
values = [("Krish", "Stats"),
        ("Joe", "Maths"),
        ("Ankur","Data Science"),
        ("Paul","Data Science"),
        ("Vishal","Maths"),
        ("Krish","Data Science")]
cursor.executemany(query,values)
print("Row inserted",cursor.lastrowid)

Row inserted 9

In [22]:
cursor = connection.cursor()
cursor.execute("Select * from studentinfo")

In [35]:
### Fetch All the Data
cursor.fetchall()

[(9, 'Krish', 'Stats'), (14, 'Krish', 'Data Science')]

In [34]:
cursor.execute("Select * from studentinfo where name='Krish'")

In [36]:
### Fetch All the Data
cursor.fetchall()

[]

In [37]:
## Select Distinct Columns
cursor.execute("SELECT DISTINCT subject from studentinfo")
#### Fetch All
cursor.fetchall()

[('Stats',), ('Maths',), ('Data Science',)]